body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

.calendar-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.day {
    background: #2b2b2b;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.day:hover {
    background: #5a28a7;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
}

.modal-content {
    background: #222;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

select, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button.confirm {
    background: #802ddb;
    color: white;
    cursor: pointer;
}

button.close {
    background: #444;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}
